body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-bar {
    background-color:#c5a269; 
    padding: 0px 20px;
    text-align: left; 
    font-family: Arial,sans-serif ;
    font-size: 18px;
    color: white
}
.bar{
     text-align: right; 
}

.top-bar a {
    color: white; 
    text-decoration: none; 
    margin: 0 10px;
}

.top-bar a:hover {
    text-decoration: underline; 
}
.discover{
    background-image:url('sidibou.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh ;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding-top: 75px;
}
.H1{
    margin: 0 0 0 0;
}
.bouton{
    background-color: #c5a269;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 10px; 
    margin-top: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.614);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.bouton:hover{
    transform: scale(1.05);
    background-color: #c29e65;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.786);
    
}
.fo{
    color: white;
    background-color: #c5a269;
    text-align: center;
    font-size: 18px;
    margin: 0 0 !important;
    padding: 15px;
}
.box1{
    color: #4B3A2F;
    text-align: center;
    font-size: 25px;
}
.select{
    background-color:#f5efe2;
    color: #4B3A2F;
    padding: 8px 50px;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    width:240px;
    text-align: left;
    border-color: #4B3A2F;
}
#ligne{
    border: none;
    height: 1px;
    background-color: #4B3A2F;
    margin: 15px auto;
    border-radius: 5px;
    width: 1050px;
}
.card{
    margin: 20px auto;
    background-color: #f5efe2;
    box-shadow: 0 20px 15px #4b3a2fe6;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 20px 15px #4B3A2F;
}
#ph{
    background-image:url('Takrouna.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#phh{
     background-image:url('petitparis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#phhh{
    background-image:url('41.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.b{
    background-color:#f5efe2 ;
    text-align: center;
    font-size: 20px;
}
.bou{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.301);
}
.bou:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.533);
}